@model GalaxyHiking.Models.Review

@{
    ViewBag.Title = "Details";
}

    <h2 id="detailsFont">Details</h2>

    <div class="row">
        <div class="col-sm-5 centerText">
            <h4 id="reviewFont">Review</h4>
            <hr />

            <h5 id="authorInfo">
                @*@Html.DisplayNameFor(model => model.Author)*@ <span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Html.DisplayFor(model => model.Author)
            </h5>

            <h6 id="superTiny">
                --@Html.DisplayFor(model => model.PostDate)--
            </h6>

            <p id="ratingHead">
                @Html.DisplayNameFor(model => model.Category.Rating):
            </p>

            <p>
                "@Html.DisplayFor(model => model.Category.Rating)"
            </p>

            @{
                if (Model.CategoryID == 1)
                {
                    <span class="icon-stack">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                    </span>
                }
                else if (Model.CategoryID == 2)
                {
                    <span class="icon-stack">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                    </span>
                }
                else if (Model.CategoryID == 3)
                {
                    <span class="icon-stack">
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star"></i>
                        <i class="glyphicon glyphicon-star-empty"></i>
                    </span>
                }

            }

        </div>

            <div class="col-sm-7 boxed">

                <h2 class="galaxy">
                    @Html.DisplayNameFor(model => model.Galaxy): @Html.DisplayFor(model => model.Galaxy)
                </h2>

                <h4 id="planet">
                    @Html.DisplayNameFor(model => model.Planet) ((@Html.DisplayFor(model => model.Planet)))
                </h4>

                <h6 id="composedOf">
                    @Html.DisplayNameFor(model => model.PlanetType) @Html.DisplayFor(model => model.PlanetType)
                </h6>

                <h5 id="alienNum">
                    @Html.DisplayNameFor(model => model.AlienEncounters) @Html.DisplayFor(model => model.AlienEncounters)
                </h5>

                <h5 id="friendly">
                    @Html.DisplayNameFor(model => model.IsFriendly) @Html.DisplayFor(model => model.IsFriendly)
                </h5>

                <h3>
                    @Html.DisplayNameFor(model => model.Comments)
                </h3>

                <p>
                    @Html.DisplayFor(model => model.Comments)
                </p>

            </div>

        </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>