@model GalaxyHiking.Models.Review

@{
    ViewBag.Title = "Details";
}

    <h2>Details</h2>

    <div class="row">
        <div class="col-sm-5">
            <h4>Review</h4>
            <hr />

            <h5 id="authorInfo">
                @Html.DisplayNameFor(model => model.Author) : @Html.DisplayFor(model => model.Author)
            </h5>

            <h6 id="superTiny">
                --@Html.DisplayFor(model => model.PostDate)--
            </h6>

            <p id="review">
                @Html.DisplayNameFor(model => model.Category.Rating) : @Html.DisplayFor(model => model.Category.Rating)
            </p>

        </div>

            <div class="col-sm-7 boxed">

                <h3>
                    @Html.DisplayNameFor(model => model.Galaxy) : @Html.DisplayFor(model => model.Galaxy)
                </h3>

                <h4>
                    @Html.DisplayNameFor(model => model.Planet) ((@Html.DisplayFor(model => model.Planet)))
                </h4>

                <h6>
                    @Html.DisplayNameFor(model => model.PlanetType) : @Html.DisplayFor(model => model.PlanetType)
                </h6>

                <h5>
                    @Html.DisplayNameFor(model => model.AlienEncounters) : @Html.DisplayFor(model => model.AlienEncounters)
                </h5>

                <h5>
                    @Html.DisplayNameFor(model => model.IsFriendly) @Html.DisplayFor(model => model.IsFriendly)
                </h5>

                <h4 style="font-weight:800">
                    @Html.DisplayNameFor(model => model.Comments)
                </h4>

                <p>
                    @Html.DisplayFor(model => model.Comments)
                </p>

            </div>

        </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>