@model GalaxyHiking.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />

        <h2>
        @Html.DisplayNameFor(model => model.Author)
        </h2>

        <h2>
        @Html.DisplayFor(model => model.Author)
        </h2>

        <p>
            @Html.DisplayNameFor(model => model.Category.Rating)
        </p>

        <p>
            @Html.DisplayFor(model => model.Category.Rating)
        </p>

        <h3>
            @Html.DisplayNameFor(model => model.Galaxy)
        </h3>

        <h3>
            @Html.DisplayFor(model => model.Galaxy)
        </h3>

        <h4>
            @Html.DisplayNameFor(model => model.Planet)
        </h4>

        <h4>
            @Html.DisplayFor(model => model.Planet)
        </h4>

        <h6>
            @Html.DisplayNameFor(model => model.PlanetType)
        </h6>

        <h6>
            @Html.DisplayFor(model => model.PlanetType)
        </h6>

        <h5>
            @Html.DisplayNameFor(model => model.AlienEncounters)
        </h5>

        <h5>
            @Html.DisplayFor(model => model.AlienEncounters)
        </h5>

        <p>
            @Html.DisplayNameFor(model => model.IsFriendly)
        </p>

        <p>
            @Html.DisplayFor(model => model.IsFriendly)
        </p>

        <h4>
            @Html.DisplayNameFor(model => model.Comments)
        </h4>

        <h4>
            @Html.DisplayFor(model => model.Comments)
        </h4>

        <p>
            @Html.DisplayNameFor(model => model.PostDate)
        </p>

        <p>
            @Html.DisplayFor(model => model.PostDate)
        </p>

       


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
