@model IEnumerable<GalaxyHiking.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2 id="indexFont">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*Foreach loop to populate Index with Galaxy info, user info, comments section, and button leading to Details section*@

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail boxed hubble">
                <div class="caption centerText">
                    <h3 class="galaxy whiteText">@Html.DisplayNameFor(model => model.Galaxy): @Html.DisplayFor(modelItem => item.Galaxy)</h3>
                    <h6 class="author whiteText"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Html.DisplayFor(modelItem => item.Author)</h6>
                    <p class="whiteText">"@Html.DisplayFor(modelItem => item.Comments)"</p>
                    <p>@Html.ActionLink("Details", "Details", new { id = item.ReviewID }, new { @class = "btn btn-primary", role = "button" })</p>

                </div>
            </div>
        </div>
    }
</div>






